<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DV_Enterprises.Web.Properties.Settings.DVENTDBConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=dvent_web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>