<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DV_Enterprises.Web.Properties.Settings.DVENTDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\negonicrac\Documents\Development\seniorproject2009\DV_Enterprises.Web\DV_Enterprises.Website\App_Data\ASPNETDB.MDF;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="DV_Enterprises.Web.Properties.Settings.DVENTDBConnectionStringLocal"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=dvent_web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>