@import forms.css;
html { background-color: #000; }
body { background: #92CC47 url('../images/body.png') repeat-x; }

h2.title, .AspNet-CreateUserWizard-StepTitlePanel, .AspNet-Login-TitlePanel
    { font-size: 2em; letter-spacing: -0.03em; margin-top: 0.3333em; }
.title, .AspNet-CreateUserWizard-StepTitlePanel, .AspNet-Login-TitlePanel
    {color:#666; line-height: 1.25em; margin-bottom: 0;}

/** Header **/
#header { height: 110px; }
#header h1 { height: 50px; float: left; margin-top: 20px; }
#header a.logo { float: left; }
#header h1 a {
    background: url('../images/site_name.png') no-repeat left top;
    display: block;
    height: 50px;
    width: 550px;
    text-decoration: none;
    text-indent: -9999em;
    z-index: 99;
}
#header #userbox {background: url('../images/user-box-bg.png'); float: right; height: 50px; text-align: center; width: 190px;}

/** Navigatiion **/
#navigation { height: 50px; }
#navigation > .inner { background: url('../images/navigation.png') no-repeat center top; }
#navigation { height: 50px; font-size: 18px; color: #000; clear: left;}
#navigation ul { text-align: center; }
#navigation li { margin: 0; display:inline; }
#navigation a { display: block; margin: 8px 0  12px; padding: 0 10px; height: 30px !important; color: #000; }
#navigation a:hover { background-color: #c7e3a4; }

/** Content **/
#content {background: url('../images/content.png') repeat-x center bottom; }
#content > .inner { background: #f7f7f7 url('../images/content_inner.png') repeat-x center bottom; padding: 1px 0;}
#content .why, #content .features { font-size: 16px; }
#content .why .title, #content .features .title { font-size: 1.4375em; margin-top: 2.5em; }
#content .secondary { background-color: #eaeaea; }
#content .faq .back_to_top { float: right; }
#content address { text-align: center; }
#content span.green { color: #009900; }
#content .table_display dt { width: 40%; float: left; margin: 0 0 0 0; padding: .5em; border-top: 1px solid #999; font-weight: bold; }
/* commented backslash hack for mac-ie5 \*/
#content dt { clear: both; }
/* end hack */
#content .table_display dd { float: left; width: 40%; margin: 0 0 0 0; padding: .5em; border-top: 1px solid #999; }
#content .sections h4 span { font-size: 13px; }
#content .sections .table_display dt { width: 70%; padding: 0.5em 0 0.5em 0.5em; }
#content .sections .table_display dd { width: 20%; padding: 0.5em 0; }
#content .sections .task_list  { text-align: center }
#content .sections .task_list th, td { padding: 0.5em 0; }
#content .sections .task_list td { width: 30%; border-top: 1px solid #999; }

/** Footer **/
#footer { background-color: #000; text-align: center; padding-top: 10px;}
#footer ul.links { text-align: center; }
#footer ul.links li { margin: 0; margin-left: 0 !important;display: inline; border-right:1px solid #333333; padding: 0 5px}
#footer ul.links li.last { border: none }
#footer ul a { color: #f7f7f7; }

.faq span.question { font-weight: bold; }